body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.no-padding {
    padding: 0% !important;
}

.no-margin {
    margin: 0% !important;
}

/*#tabs ul li {*/
    /*background-color: #0053b6;*/
/*}*/

.itemList {
    padding: 10px !important;
    border-style: solid !important;
    border-color: #0053b6 !important;
    border-radius: 3px;
    border-width: 2px;
}


.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }


.new-item-scene{
    width:90%;
}

.draggable{
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 40%;
}

.resizable{
    width: 50%;
}